* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  user-select: none;
}

.btnDiv {
  padding: 4;
  user-select: none;
}

.oprator{
  background: #000;
  color: aliceblue;
  border: 2px white dotted;
}

p {
  text-align: center;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.589);
  height: 6vh;
  font-size: 2rem;
  border-radius: 6px;
  filter: drop-shadow(2px 3px 5px rgb(10, 10, 10));
  cursor: pointer;
  transition: all 0.2s ease-in;
  user-select: none;
}

p:hover {
  scale: 0.98;
}

p:active {
  scale: 0.87;
}
